<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{@page_title}</title>
  </head>
  <body>
    <nav class="main-nav">
      <a href="/issues">Issues</a>
      <a href="/projects">Projects</a>
    </nav>
    {@inner_content}
  </body>
</html>
